* {
    margin: 0;
    padding: 0;
    font-family: "Glitch Goblin";
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
}

.page1, .page2, .page3 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page1 {
    display: flex;
    flex-direction: column;
}
.main-container {
    width: 100%;
    height: 100vh;
}

.content-container {
    display: grid; 
    grid-template-columns: 200px 1fr;
}

.main-content-container {
    margin-left: 30rem;
    position: absolute;
    display: flex;
    justify-content: center;
    /*
    width: 60%;
    background-image: url("./img/1-with-cute-doggy.png");
    background-size: cover;
    background-position: center;
    height: 73%;
    display: flex; 
    justify-content: center;
    padding-top: 0.5rem;
    box-shadow: 8px 8px 5px lavender;
    */
}

.welcome {
    color: white;
}

.head {
    font-size: 3rem;
    color: white;
}

.head-2 {
    font-size: 5rem;
    color: white;
}

nav {
    display: flex; 
    gap: 5rem;
    flex-direction: column;
    font-size: 1.5rem;
    padding-top: 3rem;
    margin-left: 0.3rem;
}

/* For Nav position: sticky */
.sticky {
    position: fixed;
    top: 0;
    width: 5%;
  }

/* for nav items to slide on click */
/* Class that pushes items off the view */
.slide-left {
    transform: translateX(-100%);

}

/* Transition effect for each item */
.home, .news, .files {
    transition: transform 0.3s;
}

.menu-icon {
    width: 3rem;
    height: 3rem;
    transition: transform 0.5s ease-in-out; /* added for transition on click */
}

.menu-icon::before {
    transform: translate(-50%, -50%) rotate(0); /* added for transition on click */
}

.menu-icon::after {
    transform: translate(-50%, -50%) rotate(90deg); /* added for transition on click */
}

.data {
    width: 15rem;
    height: 5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    border-radius: 4px;
    box-shadow: 8px 8px 5px lavender;
    font-family: "Glitch Goblin"; 
} 

.menu-icon:hover, .home:hover, .news:hover, .files:hover, .data:hover {
    cursor: pointer;
    font-size: 2rem;
    height: 3.5rem;
    width: 3.5rem;
    
  }

  /* Add insta log and make it interactive */
  /* Add youtube 12/19/23 */

.insta img {
    height: 2rem;
    width: 2rem;
    margin-left: 0.5rem;
}

.insta:hover {
    cursor: pointer;
}

.youtube img {
    height: 2rem;
    width: 2rem;
}

.youtube:hover {
    cursor: pointer; 
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

/* Add background art and container for news */

/* no longer needed 12/26/23 
.news-container {
    height: 52rem;
    width: 90rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: blue;
    background-image: url(./img/1-with-cute-doggy.png);
    background-size: 100rem 52rem;
}
*/

.portrait img {
    height: 30rem;
    width: 24rem;
}

.page1 {
    background-image: url("./img/1-with-cute-doggy.png");
    background-size: cover;
    background-position: bottom;
}

/* 12/28/23 Background image done. Change font to white 
Finalize New section
Hover Candidate & sign-up */

.news-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.new-news {
    font-size: 3rem;
}

.candidate, .sign-up {
    font-size: 1.5rem;
}

.for-candidate:hover, .sign:hover {
    cursor: pointer;
    color: blue;
}