* {
    margin: 0;
    padding: 0;
    font-family: "Glitch Goblin";
    box-sizing: border-box;
}

@font-face {
    font-family: 'Glitch Goblin';
    src: url('GlitchGoblin.eot');
    src: url('GlitchGoblin.eot?#iefix') format('embedded-opentype'),
        url('GlitchGoblin.woff2') format('woff2'),
        url('GlitchGoblin.woff') format('woff'),
        url('GlitchGoblin.ttf') format('truetype'),
        url('GlitchGoblin.svg#GlitchGoblin') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glitch Goblin';
    src: url('GlitchGoblin_1.eot');
    src: url('GlitchGoblin_1.eot?#iefix') format('embedded-opentype'),
        url('GlitchGoblin_1.woff2') format('woff2'),
        url('GlitchGoblin_1.woff') format('woff'),
        url('GlitchGoblin_1.ttf') format('truetype'),
        url('GlitchGoblin_1.svg#GlitchGoblin') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.body {
    font-size: 16px;
}

.container {
    width: 100%;
    height: 100vh;
}

.page1, .page2, .page3 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page1 {
    display: flex;
    flex-direction: column;
}

.main-container {
    width: 100%;
    height: 100vh;
}

.content-container {
    display: grid; 
    grid-template-columns: 12.5rem 1fr;
}

.main-content-container {
    /*margin-left: 30rem; */
    align-content: flex-end;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    /*4/17/2024: Change container width and height for better design */
    width: 100%;
    height: 50vh;

    /*
    width: 60%;
    background-image: url("./img/1-with-cute-doggy.png");
    background-size: cover;
    background-position: center;
    height: 73%;
    display: flex; 
    justify-content: center;
    padding-top: 0.5rem;
    box-shadow: 8px 8px 5px lavender;
    */
}

.welcome {
    color: white;
    font-size: 1rem;
    /* 4/17/2024: Move position of welcome statement to end for better design */
    display: flex;
    align-items: flex-end;
}

.head {
    font-size: 3rem;
    color: white;
}

.head-2 {
    font-size: 5rem;
    color: white;
}

nav {
    display: flex; 
    gap: 5rem;
    flex-direction: column;
    font-size: 1.5rem;
    padding-top: 5rem;
    margin-left: 0.3rem;
    /* 4/22/2024: fixed issue where background video messed with the transform function of the nav bar */
    z-index: 1;
}

/* For Nav position: sticky */
.sticky {
    position: fixed;
    top: 0;
    width: 5%;
  }

/* for nav items to slide on click */
/* Class that pushes items off the view */
.slide-left {
    transform: translateX(-400%);   /*1/29/24 Switched from -100 to -400 to accommodate mobile */
}

/* Transition effect for each item */
.home, .news, .files, .media {
    transition: transform 0.3s;
    color: rgb(133, 87, 133);
}

.menu-icon {
    width: 3rem;
    height: 3rem;
    transition: transform 0.5s ease-in-out; /* added for transition on click */
}

.menu-icon::before {
    transform: translate(-50%, -50%) rotate(0); /* added for transition on click */
}

.menu-icon::after {
    transform: translate(-50%, -50%) rotate(90deg); /* added for transition on click */
}

.data {
    width: 15rem;
    height: 5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    border-radius: 4px;
    box-shadow: 8px 8px 5px lavender;
    font-family: "Glitch Goblin"; 
} 

.menu-icon:hover, .home:hover, .news:hover, .files:hover, .data:hover {
    cursor: pointer;
    font-size: 2rem;
    height: 3.5rem;
    width: 3.5rem;    
}


  /* Add insta log and make it interactive */
  /* Add youtube 12/19/23 */

.insta img {
    height: 2rem;
    width: 2rem;
    margin-left: 0.5rem;
}

.insta:hover {
    cursor: pointer;
}

.youtube img {
    height: 2rem;
    width: 2rem;
}

.youtube:hover {
    cursor: pointer; 
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

/* Add background art and container for news */

/* no longer needed 12/26/23 
.news-container {
    height: 52rem;
    width: 90rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: blue;
    background-image: url(./img/1-with-cute-doggy.png);
    background-size: 100rem 52rem;
}
*/

/* 4/26/2024: No longer applicable??? */
.portrait {
    height: 75%;  /* 1/29/24 changed for mobile accommodation. % of news container */
    width: 40%;
    margin-top: 12rem;
}
.portrait img { 
    height: 75%;    /* 1/29/24 changed for mobile accommodation. % of news container */
    width: 75%;
}

/* comment out to change to mp4

.page1 {
    background-image: url("./img/project_1.gif"); 1-with-cute-doggy.png // 4/17/2024: changed to gif 
    background-size: cover;
    background-position: bottom;
} 

*/

/* 4/17/2024: Changed background from image to mp4. Edit CSS. */
.background-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

/* 12/28/23 Background image done. Change font to white 
Finalize New section
Hover Candidate & sign-up */

/* 

04/22/2024:
Commented out for new page 2 slide/carousel format


.news-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;   comment 1/29/24 temp fix for mobile view comment
    margin-left: 10rem; comment 4/22/2024 comment
    height: 100%;   comment 4/22/2024: height to match pg.2 comment
}

.news-text {
    width: 50%;       comment 1/29/24 changed to accommodate mobile. % of news container comment comment CHANGED TODAY 50% comment
}

.new-news {
    width: 75%;          comment 1/29/24 changed to accommodate mobile. % of news container comment
    font-size: 3vh;
}

.candidate, .sign-up {
    width: 75%;             comment 1/29/24 changed to accommodate mobile. % of news container comment
    font-size: 1.5vh;
}

.for-candidate:hover, .sign:hover {
    cursor: pointer;
    color: blue;
}


-END OF LARGE CHANGE 04/22/2024-
*/


/* 1/29/24 Chibi added */

.suspicious img {
    height: 20%;
    width: 20%;
    cursor: pointer;
}

.suspicious {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -1.5rem;
}

.placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* 04/22/2024: Commented out for new page 2 slide/carousel format */

/* 04/22/2024: Added iframe for new application method 
iframe {
    height: 30rem;
    width: 100%;
}
*/



/* 04/22/2024: CSS for newly formatted page 2 Slide/carousel */

/* 04/26/2024: Edited CSS to resize the content of mySlides. */
.slideshow-container {
    max-width: 20rem;
    max-height: 45rem;
    width: 30rem;
    height: 45rem;
    position: relative;
    margin: auto;
}

/* hide images by default */
.mySlides {
    display: none;
}

/*next and previous buttons*/
.prev, .next {
    cursor: pointer;
    position:absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a slightly translucent black background */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: rgb(133, 87, 133);
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background-color: rgb(46, 45, 45);
    border-radius: 8px;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;

  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4};
    to {opacity: 1};
  }

  /* END OF CHANGES. Sizing of iframes (Application forms CSS had to be done inline HTML) 
  note: max-width does not change inside elements sizing*/


  /* 04/26/2024: Quick fix to place page 3 where it needs to be. */
  .page3 {
    margin-top: 55rem;
  }